{% extends 'base.html' %}
{% block head %}
    <title>TODO Master</title>
{% endblock %}

{% block body %}
    <div class="container">

        
        <table border="1" align="center">
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>Action</th>
            </tr>

            {% for post in posts %}

            <tr>
                <td>{{post.content}} </td>
                <td>{{post.date_created.date()}} </td>
                <td><a href="/delete/{{post.Id}}">Delete</a><br>
                    <a href="/update/{{post.Id}}">Update</a>
                </td>
            </tr>

            {% endfor %}

        </table>
        <br>
        <form action="/" method="POST" style="text-align:center;">
            <input type="text" id="content" name="content">
            <input type="submit" name="Add" value="Add">
        </form>
    </div>
{% endblock %}